*{
    box-sizing: border-box;
    /*
        content-box:
            content-width = width
            final-width = width + padding + border
        bordex-box:
            final-width = width
            content-width = width - padding - border
    */
    font-family:'Times New Roman', Times, serif
    }
    h2{
        text-align: center;
    }
body{
    margin: 0;
    padding: 0;

scroll-behavior: smooth;
}

.header{ 
    background-color: rgb(120, 167, 255);
    margin: 0%;
    padding-top: 2rem;
}
.escuela-icono{
    margin-left: 16px;
   float: left;
    width: 200px;
    height: 200px;
    
}
.header-2 {
    padding-top: 16px;
    margin: 0%;
background-color: rgb(173, 241, 238);
 text-align: center;
}
a{
    text-decoration: none;
}
i{
    text-decoration: none;
    color: black;
}
h1 {
    
    padding: 2rem;
    margin-bottom: 2rem;
    margin: 0%;
   font-size: 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
}
p{
    padding: 1rem;
    font-size: 18px;
}
/*contenedor principal*/

.contenedor{
    
    display: flex;
   justify-content:space-evenly;
   flex-wrap: wrap;
   text-align: center;
   width: 100%;

}

.caja{
    position: relative;
    padding: 10px;
    border-radius: 10% 0 10% 0;
    margin-top: 2rem;
   /* border: 1px solid black; */
    background-color: rgb(152, 223, 251);
    width :500px;
    box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.5);
    /* box-shadow: 1rem 1rem 1rem #333; */
  }
  #p2{
    background-color: #f6d2d8;
  }
  #p3{
    background-color: rgb(178, 245, 192);
  }
  #p4{
    background-color: #ff90ed;
  }
  #p5{
    background-color: #fff89a;
  }
  #p6{
    background-color: #ffd38d;
  }
 


  #caja1{

  }
  #caja2{
      background-color: pink;
      
}
#caja3{
      background-color: #63f77b;
}
#caja4{
      background-color: rgb(242, 130, 252);
}
#caja5{
      background-color: #eef771;
}
#caja6{
      background-color: hsl(27, 100%, 65%);
}
/* 
#img-n1{
    width: 300px;
    height: 180px;
} */
  .img-noticia{
      align-items: center;
      /* width: 150px; */
      width: 400px;
    height: 250px;
      margin: 1rem;
      padding: 10px;
      border:1px solid rgb(255, 255, 255) ;
      background-color: hwb(175 60% 9%);
  }
  .p-noticia{
    background-color: rgba(127, 195, 240, 0.554);
      margin-bottom: 2rem; ;
  }
  .btn-descarga{
      /* position: absolute;
      left: auto; */
      border-radius: 30%;
      margin-top: 0.5rem;
      font-size: 18px;
      padding: 0.75rem;
      background-color: white;
      
  }
  .btn-descarga:hover{
    background-color: rgba(255, 255, 255, 0.445);
    background-size: 3rem;
    box-shadow: 0 0 .5rem rgb(2, 1, 1);
  }
  .fecha-noticia{
    position: absolute;
    bottom: 8px;
    left: 16px;

  }


   /*PIE DE PAGINA*/

   footer{
    background: rgb(91, 219, 213);
    margin-top: 2rem;
    border-top: 1px #333 solid;
    

    
}
.copy{
    color: hwb(200 33% 64%);
    padding-top: 1.5rem;
    text-align: center;
    font-family:fantasy;
    letter-spacing: 2px;
    text-shadow: 1px 2px 2px #2f5161;
}
.social{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2rem;
}
.social a{
    margin: .25rem;
    width: 4rem;
    height: 4rem;
    border-radius: .25rem;
    background-color: #ccc;
    background-position: center;
    background-size: 2rem;
    background-repeat: no-repeat;
}
.social a:hover{
    background-color: #eee;
    background-size: 3rem;
    box-shadow: 0 0 .5rem rgb(2, 1, 1);
}
.facebook{
    background-image: url('../img/icons/facebook.svg');
}
.instagram{
    background-image: url('../img/icons/instagram.svg');
}

.caja__iframe{
    margin-top: 2rem;
    text-align: center;
}

.iframe{

    width: 500px;
    height: 250px;
    text-align: center;
    /*min-width: 500px;
  

    min-height: 400px;
    max-height: 400px;
    max-width: 650px;*/
  
}